# Preparing Pyspark and imports

In [8]:
!pip install pyspark #Actually works unlike using [!wget -q "URL"]

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=52432f861c33a6fc046aef1473c14a07f8c914022e6e21e55366680100e94dbf
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [9]:
import os
import time
import pandas as pd
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [10]:
spark = SparkSession.builder\
.appName('test') \
.getOrCreate()

***This code will look for any csv file within the main directory***

In [13]:
for file in os.listdir():
  if '.csv' in file:
    print(f'The size of the {file} file is {os.stat(file).st_size/(1024*1024):,.2f} MB')

The size of the global_temperatures.csv file is 0.19 MB

***This os.listdir directs to the path folder "read_test"***

In [15]:
for file in os.listdir('read_test'):
  if '.csv' in file:
    print(f'The size of the {file} file is {os.stat("read_test/"+file).st_size/(1024*1024):,.2f} MB')

The size of the global_temperatures.csv file is 0.19 MB

# Reading the CSV file

In [16]:
spark_df = spark.read.csv('global_temperatures.csv', header=True, inferSchema=True)

In [49]:
spark_df.show(10)

+----------+----------------------+---------------------------------+------------------+-----------------------------+------------------+-----------------------------+------------------------------+-----------------------------------------+
|        dt|LandAverageTemperature|LandAverageTemperatureUncertainty|LandMaxTemperature|LandMaxTemperatureUncertainty|LandMinTemperature|LandMinTemperatureUncertainty|LandAndOceanAverageTemperature|LandAndOceanAverageTemperatureUncertainty|
+----------+----------------------+---------------------------------+------------------+-----------------------------+------------------+-----------------------------+------------------------------+-----------------------------------------+
|1776-08-01|                14.837|                            3.437|              NULL|                         NULL|              NULL|                         NULL|                          NULL|                                     NULL|
|1777-08-01|                12.815|                            1.269|              NULL|                         NULL|              NULL|                         NULL|                          NULL|                                     NULL|
|1777-09-01|    11.379000000000001|                            2.692|              NULL|                         NULL|              NULL|                         NULL|                          NULL|                                     NULL|
|1766-12-01|                 2.333|                            2.278|              NULL|                         NULL|              NULL|                         NULL|                          NULL|                                     NULL|
|1800-06-01|                13.606|                            1.169|              NULL|                         NULL|              NULL|                         NULL|                          NULL|                                     NULL|
|1776-03-01|                 4.652|                            2.388|              NULL|                         NULL|              NULL|                         NULL|                          NULL|                                     NULL|
|1794-01-01|                  3.71|                            3.869|              NULL|                         NULL|              NULL|                         NULL|                          NULL|                                     NULL|
|1767-03-01|                 7.022|                            4.418|              NULL|                         NULL|              NULL|                         NULL|                          NULL|                                     NULL|
|1829-11-01|                 5.003|                            1.449|              NULL|                         NULL|              NULL|                         NULL|                          NULL|                                     NULL|
|1815-09-01|                11.151|                            1.503|              NULL|                         NULL|              NULL|                         NULL|                          NULL|                                     NULL|
+----------+----------------------+---------------------------------+------------------+-----------------------------+------------------+-----------------------------+------------------------------+-----------------------------------------+
only showing top 10 rows

In [18]:
print(f'There are {len(spark_df.columns)} columns and {spark_df.count():,} rows in the Pyspark DataFrame')

There are 9 columns and 3,192 rows in the Pyspark DataFrame

In [19]:
spark_df.printSchema()

root
 |-- dt: date (nullable = true)
 |-- LandAverageTemperature: double (nullable = true)
 |-- LandAverageTemperatureUncertainty: double (nullable = true)
 |-- LandMaxTemperature: double (nullable = true)
 |-- LandMaxTemperatureUncertainty: double (nullable = true)
 |-- LandMinTemperature: double (nullable = true)
 |-- LandMinTemperatureUncertainty: double (nullable = true)
 |-- LandAndOceanAverageTemperature: double (nullable = true)
 |-- LandAndOceanAverageTemperatureUncertainty: double (nullable = true)

# Using Schema

In [58]:
schema = StructType([
    StructField('Date', StringType(), True),
    StructField('Land Avg Temp', StringType(), True),
    StructField('Land Avg Temp(Uncertainty)', StringType(), True),
    StructField('Land Max Temp', StringType(), True),
    StructField('Land Max Temp(Uncertainty) 5', StringType(), True),
    StructField('Land Min Temp', StringType(), True),
    StructField('Land Min Temp(Uncertainty)', StringType(), True),
    StructField('Land and Ocean Avg Temp', StringType(), True),
    StructField('Land and Ocean Avg Temp(Uncertainty)', StringType(), True)
    ])

In [55]:
spark_df2 = spark.read.csv('read_test/global_temperatures.csv', schema=schema, header=True)

In [56]:
spark_df2.show(6)

+----------+------------------+--------------------------+-------------+----------------------------+-------------+--------------------------+-----------------------+------------------------------------+
|      Date|     Land Avg Temp|Land Avg Temp(Uncertainty)|Land Max Temp|Land Max Temp(Uncertainty) 5|Land Min Temp|Land Min Temp(Uncertainty)|Land and Ocean Avg Temp|Land and Ocean Avg Temp(Uncertainty)|
+----------+------------------+--------------------------+-------------+----------------------------+-------------+--------------------------+-----------------------+------------------------------------+
|1776-08-01|            14.837|                     3.437|         NULL|                        NULL|         NULL|                      NULL|                   NULL|                                NULL|
|1777-08-01|            12.815|                     1.269|         NULL|                        NULL|         NULL|                      NULL|                   NULL|                                NULL|
|1777-09-01|11.379000000000001|                     2.692|         NULL|                        NULL|         NULL|                      NULL|                   NULL|                                NULL|
|1766-12-01|             2.333|                     2.278|         NULL|                        NULL|         NULL|                      NULL|                   NULL|                                NULL|
|1800-06-01|            13.606|                     1.169|         NULL|                        NULL|         NULL|                      NULL|                   NULL|                                NULL|
|1776-03-01|             4.652|                     2.388|         NULL|                        NULL|         NULL|                      NULL|                   NULL|                                NULL|
+----------+------------------+--------------------------+-------------+----------------------------+-------------+--------------------------+-----------------------+------------------------------------+
only showing top 6 rows